  .herff {
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-family: arial;
    font-size: 1.5rem;
    background-color: #5b64c7;
    border-color: #5b64c7;
    border-right: #5b64c7;
    border-bottom: #5b64c7;
    border-top: #5b64c7;
    border-width: 0;
    cursor: pointer;
  }
  .herff:hover {
    background-color: #383d7a;
    border-color: #0f112d;
    border-right: #0f112d;
    border-bottom: #0f112d;
    border-top: #0f112d;
  }
  .list {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
  }
  .Line {
    padding: 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 1rem;
    background-color: #383d7a;

}
  .list1 {
    font-size: 18px;
    display: block;
    color:aliceblue;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
  }
  .MenuContainer {
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .menul {
    list-style-type: none;
    width: 100%;
    height: 100%;
    display: block;
    align-items: center;
    margin-block-start: 0;
    margin-block-end: 0;
    background-color: #5b64c7;
  }
  .menul1 {
    left: 0;
    display: block;
    position: absolute;
    width:280px;
    background: rgba(0,0,0,0.8);
    border-bottom: 7px solid #5b64c7;
  }
  .Hide1 {
    display: none;
  }

